<div class="jumbotron">

    <div class="container">
      <h4 class="display-8 text-center">Quan Ly Nhan Vien</h4>
      <hr>
      <div class="row">
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
          <h2 style="text-align: center;">Nhan Vien</h2>
            <app-themsuanv></app-themsuanv>
        </div>
        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
            <h2 style="text-align: center;">Danh Sach Nhan Vien</h2>
            <app-chitietnhanvien></app-chitietnhanvien>
        </div>
        
      </div>
      
    </div>
  
  </div>
  